@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular Std';
    src: url('./assets/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('./assets/fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('./assets/fonts/CircularStd-Book.woff2') format('woff2'),
        url('./assets/fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('./assets/fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('./assets/fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./assets/fonts/CircularStd-BoldItalic.woff2') format('woff2'),
        url('./assets/fonts/CircularStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./assets/fonts/CircularStd-Medium.woff2') format('woff2'),
        url('./assets/fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./assets/fonts/CircularStd-Black.woff2') format('woff2'),
        url('./assets/fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./assets/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
        url('./assets/fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./assets/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
        url('./assets/fonts/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

body{
    background-color: #000;
    font-family: 'Circular Std';
    overflow: hidden;
}

.bg{
    background: linear-gradient(180.00deg, rgb(51, 51, 163) 5.086%,rgb(18, 18, 18) 63.397%);
}

.fade-in {
    animation: fadeIn ease 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1b1b1b91;
    z-index: 999;
  }
  .display{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }